# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# file location of csv
csvpath = os.path.join('..','output_data','cities.csv')

# read csv into dataframe
cities_pd = pd.read_csv(csvpath)

cities_pd.head()

,City,Lat,Lon,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.1203,-134.9692,78.98,74,2,15.59,PF,1613498067
1,Vaini,-21.2000,-175.2000,73.40,100,20,3.44,TO,1613498067
2,Mataura,-46.1927,168.8643,39.00,92,0,1.01,NZ,1613498067
3,Hobart,-42.8794,147.3294,55.99,88,1,8.05,AU,1613498067
4,Busselton,-33.6500,115.3333,59.00,95,0,9.42,AU,1613498068

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
# configure gmaps
gmaps.configure(api_key=g_key)

# use lat & long as locations
# Store 'Lat' and 'Lng' into  locations 
locations = cities_pd[["Lat", "Lon"]].astype(float)
humidity = cities_pd['Humidity'].tolist()
len(humidity)

570

In [18]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig
# plt.savefig('../output_data/humidity_map.png')

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
ideal_cities =cities_pd[(cities_pd['Max Temp (F)'] > 70) & 
                      (cities_pd['Max Temp (F)'] < 85) & 
                      (cities_pd['Wind Speed'] < 10) &
                      (cities_pd['Cloudiness'] == 0)]
len(ideal_cities)
ideal_cities

,City,Lat,Lon,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date
73,Najrān,17.4924,44.1277,73.40,25,0,2.98,SA,1613498079
78,Calvinia,-31.4707,19.7760,70.23,22,0,7.11,ZA,1613498080
150,Salalah,17.0151,54.0924,75.20,73,0,1.14,OM,1613498091
269,Trujillo,-8.1160,-79.0300,73.40,78,0,9.22,PE,1613498112
360,Srikakulam,18.3000,83.9000,72.45,83,0,3.87,IN,1613498126
377,Kavaratti,10.5669,72.6420,81.77,55,0,2.75,IN,1613498129
379,Indi,17.1667,75.9667,75.87,26,0,8.63,IN,1613498129
386,Neuquén,-38.9516,-68.0591,84.20,32,0,3.44,AR,1613498130
409,Gualeguaychú,-33.0094,-58.5172,82.00,41,0,7.00,AR,1613498133

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
# create new dataframe to hold hotel names
hotel_df = ideal_cities
hotel_df['Hotel Name'] = ''
hotel_df

/Users/Howard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lon,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
73,Najrān,17.4924,44.1277,73.40,25,0,2.98,SA,1613498079,
78,Calvinia,-31.4707,19.7760,70.23,22,0,7.11,ZA,1613498080,
150,Salalah,17.0151,54.0924,75.20,73,0,1.14,OM,1613498091,
269,Trujillo,-8.1160,-79.0300,73.40,78,0,9.22,PE,1613498112,
360,Srikakulam,18.3000,83.9000,72.45,83,0,3.87,IN,1613498126,
377,Kavaratti,10.5669,72.6420,81.77,55,0,2.75,IN,1613498129,
379,Indi,17.1667,75.9667,75.87,26,0,8.63,IN,1613498129,
386,Neuquén,-38.9516,-68.0591,84.20,32,0,3.44,AR,1613498130,
409,Gualeguaychú,-33.0094,-58.5172,82.00,41,0,7.00,AR,1613498133,

In [25]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lon"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
#     print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
#         hotel_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
#         hotel_df.loc[index, "Hotel Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=17.4924%2C44.1277

/Users/Howard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=-31.4707%2C19.776
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=17.0151%2C54.0924
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=-8.116%2C-79.03
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=18.3%2C83.9
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=10.5669%2C72.642
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=17.1667%2C75.9667
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=-38.9516%2C-68.0591
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=50000&types=lodging&keyword=hotel&key=AIzaSyBvbvMbLvh_eTV9PnSDEV5u2JfLPq9PIb8&location=-33.0094%2C-58.5172

In [26]:
# view results of api pull for hotel name
hotel_df

,City,Lat,Lon,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
73,Najrān,17.4924,44.1277,73.40,25,0,2.98,SA,1613498079,The District Hotel Najran
78,Calvinia,-31.4707,19.7760,70.23,22,0,7.11,ZA,1613498080,Die Lemoenhuis
150,Salalah,17.0151,54.0924,75.20,73,0,1.14,OM,1613498091,Hilton Salalah Resort
269,Trujillo,-8.1160,-79.0300,73.40,78,0,9.22,PE,1613498112,Casa Andina Premium Trujillo
360,Srikakulam,18.3000,83.9000,72.45,83,0,3.87,IN,1613498126,The Bheemli Resort Managed By AccorHotels
377,Kavaratti,10.5669,72.6420,81.77,55,0,2.75,IN,1613498129,Bangaram Island Resort
379,Indi,17.1667,75.9667,75.87,26,0,8.63,IN,1613498129,Kyriad Hotel Vijayapura by OTHPL
386,Neuquén,-38.9516,-68.0591,84.20,32,0,3.44,AR,1613498130,Hilton Garden Inn Neuquen
409,Gualeguaychú,-33.0094,-58.5172,82.00,41,0,7.00,AR,1613498133,Estancia Rio de las Aves Lodge

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [30]:
# Add marker layer ontop of heat map
hotels = hotel_df['Hotel Name'].tolist()
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=4,
    info_box_content= hotels)


fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

# Display figure

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))